
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

hr{
    width: 100%;
    color: black;
}

.canvas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 500px;
}

.CanvaResultadoQuiz{
    align-self: center;
    width: 100%;

}

.graficos{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
    height: 500px;
    margin-top: 20px;
}

.barra{
    display: flex;
    width: 100%;
    height: 25px;
    background-color: black;
    border-radius: 50px;
    margin-bottom: 15px;
}

.progresso{
    display: flex;
    width: 0%;
    height: 25px;
    background-image: url(../assets/flocoazul.gif);
    border-radius: 50px;
    background-size: cover;
    background-position: center;
}

.KPINumcadastro{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-image: url(../assets/flocoazul.gif);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #fff;
    text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000;
    font-size: 1.5rem;
}

.tituloprogresso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.tituloprogresso h3{
    margin: 0;
}