
.Bemvindo{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.Userlogado{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 750px;
    
}

#logado{
   margin-left: 20px;
}

.emblema{
   width: 100px;
   height: 100px;
}
.imgreceitas{
   display: flex;
   flex-direction: row;
   justify-content: center;
 
}
.imgreceitas a{
   text-decoration: none;
}
.Duasreceitas{
   display: flex;
   flex-direction: column;
   
}

.Duasreceitas a{
   text-decoration: none;
}

#mousse { 
   display: flex;
   width: 500px;
   height: 500px;
   flex-direction: column;
   align-items: center;
   font-size: 25px;
   justify-content: end;
   background-repeat: no-repeat;
   background-position: cover;
   background-size: cover;
   background-image: url(../assets/receitas/mousse.png);
   margin-right: 10px;
   transition: 0.3s;
 }

#mousse:hover{
   transform: scale(1.06);
 }

#mousse h3{
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: center;
   color: white;
}

#salmao { 
   display: flex;
   width: 250px;
   height: 250px;
   flex-direction: column;
   align-items: center;
   font-size: 25px;
   justify-content: end;
   background-repeat: no-repeat;
   background-position: cover;
   background-size: cover;
   background-image: url(../assets/receitas/salmao.jpg);
   margin-bottom: 10px;
   transition: 0.3s;
 }

#salmao:hover{
   transform: scale(1.06);
 }

#salmao h3{
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: center;
   color: white;
}

 #frangokfc{
   display: flex;
   width: 250px;
   height: 250px;
   flex-direction: column;
   align-items: center;
   font-size: 25px;
   justify-content: end;
   background-repeat: no-repeat;
   background-position: cover;
   background-size: cover;
   background-image: url(../assets/receitas/frangokfc.jpg);
   transition: 0.3s;

 }

#frangokfc:hover{
   transform: scale(1.06);
 }

#frangokfc h3{
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: center;
   color: white;
}

 
 #mousse img{
    width: 500px ;
    
 }

 #salmao img{
    width: 250px;
 }

 #frangokfc img{
    width: 250px;
 }

 button {
    background-color: #63D4DF;
    font-family: "Italiana", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #63D4DF; 
    transform: translateY(-1px);
}

hr{
   width: 250x;
}