.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

h4{
    margin: 0;
}

p{
    font-weight: bold;
}

img{
    width: 750px;
    height: auto;
}