/* Importando as fontes*/
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/*Foodys - Food Display Font*/

body{
    display: flex;
    background-color: #f2f2f2;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Italiana", sans-serif;
}

.FaixaTopo{
    display: flex;
    background-color: #F9CEA1;
    width: 100%;
    height: 10px;
    border-bottom: solid #dfad81 5px;
    }


.DivTitulo{
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
    background-image: url(../Images/floral2.jpg);
    }

.titulo{
    display: flex;
    /*font-family: "Fredericka the Great", serif;*/
    color: #54B5BF;
    font-family: "Bonheur Royale", cursive;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.titulo img{
    width: 250px;
}
.titulo h1{
    margin: 0;
}

header{
    display: flex;
    background-color: #F9CEA1;
    margin-top: 10px;
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 10px 5px #D98F4E;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Elementosheader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.DivLogin {
    display: flex;
    margin-left: 100px;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-left: 400px;
}
.navheader{
    
}
.navheader h3{
        margin: 50px;
    }


